.advantages {
    margin-bottom: 105px;
    padding: 0 72px;
    display: flex;
    justify-content: center;
    column-gap: 25px;
    @media (max-width: $width-pc) {
        margin-bottom: 50px;
    }
    @media (max-width: $width-mobile) {
        flex-wrap: wrap;
    }
    img {
        margin-bottom: 25px;
        @media (max-width: $width-pc) {
            margin-bottom: 17px;
        }
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 200px;
        min-width: 130px;
        text-align: center;
        // font
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        @media (min-width: $width-pc-start) {
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
        }
    }
}
