.allowed {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-bottom: 50px;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        @media (max-width: $width-pc) {
            margin-bottom: 24px;
            font-size: 16px;
            line-height: 24px;
        }
    }
    img {
        margin-bottom: 50px;
        @media (max-width: $width-pc) {
            margin-bottom: 36px;
        }
    }
    .button {
        align-self: center;
        color: $color-pink-normal;
        background-color: #fff;
        border: 1px solid $color-pink-normal;
    }
}
