.article {
    padding-top: 5px;
    width: 100%;
    max-width: 780px;
    @media (max-width: $width-pc) {
        padding-top: 0;
    }

    h2 {
        margin-bottom: 11px;
        font-weight: 400;
        font-size: 38px;
        line-height: 50px;
        color: $color-black2;
        @media (max-width: $width-pc) {
            font-size: 24px;
            line-height: 140%;
        }
    }
    time {
        margin-bottom: 15px;
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #8e8e8e;
    }
    img {
        margin-bottom: 34px;
        @media (max-width: $width-mobile) {
            margin-bottom: 24px;
        }
    }
    article {
        margin-bottom: 34px;
        @media (max-width: $width-mobile) {
            margin-bottom: 24px;
        }
    }
    h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
        @media (max-width: $width-pc) {
            font-size: 20px;
        }
        @media (max-width: $width-mobile) {
            margin-bottom: 16px;
            line-height: 24px;
        }
    }
    p {
        font-size: 16px;
        line-height: 24px;
        @media (max-width: $width-pc) {
            font-size: 14px;
        }
    }
    li {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
        @media (max-width: $width-pc) {
            font-size: 14px;
        }
    }
}
