.chargers {
    margin-bottom: 73px;
    @media (max-width: $width-pc) {
        margin-bottom: 34px;
    }
    & > ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        @media (max-width: $width-pc) {
            padding: 0 50px;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 17px;
        }
        @media (max-width: $width-mobile) {
            padding: 0;
            grid-template-columns: 1fr;
        }
        @media (min-width: $width-mobile-start) {
            grid-template-columns: 1fr 1fr;
        }
    }
    & ul img {
        margin-bottom: 24px;
        @media (max-width: $width-pc) {
            margin-bottom: 0;
            width: 100%;
        }
    }
    & ul ul li {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        a {
            margin-bottom: 13px;
            padding-bottom: 4px;
            margin-top: 16px;
            display: grid;
            grid-template-columns: 1fr auto;
            border-bottom: 2px solid $color-black;
            &::after {
                content: "";
                display: block;
                height: 36px;
                width: 36px;
                background: url(/src/chargers/arrow.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-color: $color-pink-normal;
            }
            @media (max-width: $width-pc) {
                margin-top: 6px;
            }
        }
        a:hover::after {
            background-color: $color-pink-hover;
        }
        p {
            margin-bottom: 3px;
            grid-column: 1/-1;
            text-transform: uppercase;
        }
        span {
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
        }
    }
    & ul ul li:last-child {
        a {
            border-bottom: none;
        }
    }
}
