.fields {
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px 20px;
        @media (min-width: $width-pc-start) {
            gap: 43px 20px;
        }
        @media (max-width: $width-mobile) {
            grid-template-columns: 1fr;
        }
        @media (min-width: $width-mobile-start) {
            grid-template-columns: 1fr 1fr;
        }
    }
    img {
        width: 100%;
        margin-bottom: 17px;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        @media (max-width: $width-pc) {
            font-size: 16px;
            line-height: 22px;
        }
    }
}
