.footer {
    position: relative;
    padding: 60px 0 54px;
    color: #ffffff;
    background-color: $color-black;
    @media (max-width: 1920px) {
        position: static;
    }
    .container {
    }
    nav {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 105px;
        .pages-list {
            grid-column: 2/-1;
        }
        @media (max-width: 1920px) {
            position: relative;
        }
        @media (max-width: $width-pc) {
            column-gap: 62px;
            .pages-list {
                padding: 0 55px 0 85px;
                grid-column: 1/-1;
            }
        }
        & > a img {
            transform: translate(9px, -7px);
            @media (max-width: $width-pc) {
                padding-top: 8px;
                transform: translate(0, 0);
            }
        }
    }
    p {
        width: 100%;
        max-width: 213px;
        font-family: $font-rubik-one;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-transform: uppercase;
    }
    nav > div {
        padding-bottom: 44px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #727272;
        @media (max-width: $width-pc) {
            padding-bottom: 34px;
            justify-content: start;
        }
        & > * {
            display: flex;
            align-items: center;
        }
        & > p {
            @media (max-width: $width-pc) {
                display: none;
            }
        }
        & > *::after {
            content: "";
            display: block;
            width: 1px;
            height: 80%;
            background-color: #fff;
        }
        & > *:last-child::after {
            content: none;
        }
    }
    .contact-list {
        @media (max-width: $width-pc) {
            margin-left: 25px;
        }
    }
    .contact-list li {
        margin-right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        &:last-child {
            margin-right: 0;
        }
    }
    .footer-social {
        div {
            margin-right: 43px;
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            @media (max-width: $width-pc) {
                margin-right: 25px;
                font-size: 14px;
                img {
                    margin-right: 10px;
                }
            }
        }
    }
    nav > ul {
        margin-top: 54px;
        display: flex;
        column-gap: 62px;
        @media (max-width: $width-pc) {
            column-gap: 95px;
            margin-top: 36px;
            column-gap: 20px;
            justify-content: space-between;
        }
    }
    & nav > button {
        position: absolute;
        top: 10px;
        right: 20%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border: 1px solid $color-pink-normal;
        background-color: transparent;
        cursor: pointer;
        @media (max-width: 1920px) {
            top: -52px;
            right: -10px;
        }
        svg {
            fill: $color-pink-normal;
        }
        &:hover {
            border-color: $color-pink-hover;
            background-color: $color-pink-hover;
            svg {
                fill: #ffffff;
            }
        }
        &:active {
            border-color: $color-pink-active;
            background-color: $color-pink-active;
        }
    }
}
