.footer {
    position: relative;
    padding: 62px 0 54px;
    color: #ffffff;
    background-color: $color-black;
    .container {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 95px;
    }
    p {
        padding-right: 20px;
        width: 100%;
        max-width: 213px;
        font-family: $font-rubik-one;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
    nav > div {
        padding-bottom: 44px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #727272;
        & > * {
            display: flex;
        }
        & > *::after {
            content: "";
            display: block;
            width: 1px;
            height: 80%;
            background-color: #fff;
        }
        & > *:last-child::after {
            content: none;
        }
    }
    .contact-list li {
        margin-right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        width: 44px;
        height: 44px;
    }
    .footer-social {
        div {
            margin-right: 43px;
            display: flex;
            flex-direction: column;
            row-gap: 2px;
        }
    }
    nav > ul {
        margin-top: 54px;
        display: flex;
        column-gap: 95px;
    }
    & > button {
        position: absolute;
        top: 10px;
        right: 20%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border: 1px solid $color-pink-normal;
        background-color: transparent;
        cursor: pointer;
        @media (max-width: 1920px) {
            right: 3%;
        }
        svg {
            fill: $color-pink-normal;
        }
        &:hover {
            border-color: $color-pink-hover;
            background-color: $color-pink-hover;
            svg {
                fill: #ffffff;
            }
        }
        &:active {
            border-color: $color-pink-active;
            background-color: $color-pink-active;
        }
    }
}
