.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    @media (max-width: $width-pc) {
        min-height: 50px;
    }
    nav {
        display: grid;
        grid-template-columns: max-content 1fr max-content max-content max-content max-content;
        align-items: center;
        grid-column-gap: 7px;
        @media (max-width: $width-pc) {
            grid-column-gap: 19px;
            grid-template-columns: max-content 1fr 1fr 1fr max-content;
        }
    }
    svg {
        display: block;
        fill: #ffffff;
    }
    svg:hover {
        fill: $color-pink-hover;
    }
    .cart {
        fill: #ffffff;
        stroke: #ffffff;
        &:hover {
            stroke: $color-pink-hover;
        }
    }
    .logo {
        & svg:first-child {
            display: block;
        }
        & svg:nth-child(2) {
            display: none;
        }
        @media (max-width: $width-pc) {
            margin: 0 auto;
            & svg:first-child {
                display: none;
            }
            & svg:nth-child(2) {
                display: block;
            }
        }
    }
    .pages-list,
    .contact-list {
        @media (max-width: $width-pc) {
            display: none;
        }
    }
    .contact-list {
        @media (min-width: $width-pc-start) {
            margin-right: 17px;
            li {
                margin-right: 19px;
            }
        }
    }
    .pages-list {
        @media (min-width: $width-pc-start) {
            padding-left: 32px;
            justify-content: center;
        }
    }
    .icon-link {
        @media (max-width: $width-pc) {
            order: -1;
        }
        @media (min-width: $width-pc-start) {
            margin-right: 24px;
        }
    }
    & nav > button {
        display: none;
    }
    @media (max-width: $width-pc) {
        & nav > button {
            display: block;
            order: -2;
            border: none;
            background-color: transparent;
            svg {
                stroke: #ffffff;
            }
        }
    }
}
.header-black {
    color: $color-black;
    svg {
        fill: $color-black;
    }
    .cart {
        fill: $color-black;
        stroke: $color-black;
    }
    .header-language {
        button {
            color: $color-black;
            svg {
                fill: $color-black;
            }
        }
    }
    & nav > button {
        svg {
            stroke: $color-black;
        }
    }
}
.header-visible {
    background-color: #fff;
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.03);
}

.header nav ul {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
}
.pages-list {
    align-items: center;
    li {
        margin-right: 34px;
    }
}
.contact-list {
    display: flex;
    align-items: center;
    li {
        margin-right: 13px;
    }
    li:last-child {
        margin-right: 0;
    }
}

.header-language {
    @media (max-width: $width-pc) {
        justify-self: end;
    }
    button {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        margin-right: 9px;
        text-transform: uppercase;
        font-family: $font-poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        color: #ffffff;
        cursor: pointer;
        &:hover {
            color: $color-pink-hover;
        }
    }
    button:hover > svg {
        fill: $color-pink-hover;
    }
    svg {
        margin-left: 9px;
        fill: #ffffff;
    }
}
