.intro {
    position: relative;
    h2 {
        color: #ffffff;
        margin-bottom: 24px;
        text-align: left;
        @media (max-width: $width-pc) {
            margin-bottom: 16px;
        }
        @media (max-width: $width-mobile) {
            max-width: 629px;
            text-align: center;
        }
    }
    svg {
        fill: #ffffff;
    }
    .swiper-slide {
        position: relative;
        min-height: 730px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
        }
        @media (max-width: $width-pc) {
            min-height: 500px;
        }
        @media (max-width: $width-mobile) {
            min-height: 450px;
        }
    }

    .swiper-pagination {
        bottom: 24px;
        display: flex;
        justify-content: center;
    }

    .container {
        position: relative;
        z-index: 10;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media (max-width: $width-pc) {
            transform: translateY(-10px);
        }
        @media (min-width: $width-pc-start) {
            transform: translateY(10px);
        }
        @media (max-width: $width-mobile) {
            grid-template-columns: 1fr;
        }
        div {
            display: flex;
            flex-direction: column;
            .black-text {
                color: $color-black;
            }
            @media (max-width: $width-mobile) {
                align-items: center;
            }
        }
        p {
            color: #ffffff;
            width: 100%;
            max-width: 549px;
            margin-bottom: 36px;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            @media (max-width: $width-pc) {
                margin-bottom: 24px;
                max-width: 340px;
                font-size: 16px;
                line-height: 24px;
            }
            @media (max-width: $width-mobile) {
                text-align: center;
            }
        }
        .position-right {
            grid-column: 2/-1;
            max-width: 360px;
            justify-self: end;
            @media (max-width: $width-pc) {
                max-width: 280px;
            }
            @media (max-width: $width-mobile) {
                grid-column: 1/-1;
                justify-self: center;
                max-width: 340px;
            }
        }
        .full-width {
            grid-column: 1/-1;
            align-items: center;
            h2,
            p {
                text-align: center;
                width: 100%;
                max-width: 629px;
            }
            .button {
                align-self: center;
            }
        }
        .button {
            align-self: start;
            @media (max-width: $width-mobile) {
                margin: 0 auto;
            }
        }
    }
    button {
        z-index: 10;
        position: absolute;
        top: 50%;
        width: 64px;
        height: 64px;
        transform: translateY(-50%);
        border: none;
        cursor: pointer;
        background-color: transparent;
        transform-origin: center;
        & {
            svg {
                fill: #ffffff;
            }
        }
    }
    .swiper-arrow {
        svg {
            fill: $color-black;
        }
    }
    .swiper-prev {
        left: 125px;
    }
    .swiper-next {
        right: 125px;
        svg {
            transform: rotate(180deg);
        }
    }
    @media (max-width: 1919px) {
        .swiper-prev,
        .swiper-next {
            display: none;
        }
    }
}
