.restore {
    padding: 100px 0;
    background-color: #f3f3f4;
    @media (max-width: $width-pc) {
        padding: 50px 0 40px;
    }
    h2 {
        text-align: left;
        @media (max-width: $width-pc) {
            text-align: center;
        }
    }
    .content {
        @media (min-width: $width-pc-start) {
            align-items: center;
        }
        @media (max-width: $width-pc) {
            grid-template-columns: 1fr;
        }
    }
    .content > div {
        justify-content: start;
    }
    @media (max-width: $width-pc) {
        & img {
            margin: 0 auto;
        }
    }
    p {
        @media (max-width: $width-pc) {
            font-size: 16px;
            line-height: 24px;
        }
    }
}
