.testing {
    .content {
        @media (max-width: $width-pc) {
            grid-template-columns: 1fr;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: $width-pc) {
            margin-bottom: 24px;
        }
    }
    .button {
        @media (max-width: $width-pc) {
            align-self: center;
        }
    }
}
